<div class=container>
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get">
    Ask your coach anything: <br>
    <input type="text" name="user_question" placeholder = "What is your question">
    <input type="submit" value="Ask!">
  </form>
</div>
<p>Find me in app/views/pages/ask.html.erb</p>
